// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  font-family: "sans-serif";
}
.service{
  border: 1px solid gray;
  margin-bottom: 5px;
  background-color: #f7f7f7;
}
h4{
  margin:5px;
  //cursor: pointer;
}
ul.methods{
  padding:0px;
  //display: none;
}
ul.methods li{
  display: block;
  font-family: "courier new";
  margin: 5px;
}
.success{
  color: green;
}.error{
  color:red;
}.code{
  font-family: "courier new";
}